{% extends 'sso/base.html' %}


{% block container %}
    {% load socialaccount %}
    {% if not user.is_authenticated %}
        <div class="container d-flex justify-content-center " style="height: 400px;">
            <div class="card align-self-center text-center" style="width: 18rem; height: 200px;">
                <div class="card-body">
                    <h2 class="card-title pb-3">Gestión de Proyectos</h2>
                    <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login With Google</a>
                </div>
            </div>
        </div>

    {% else %}
        <div class="container d-flex justify-content-center " style="height: 400px;">
            <h1>Bienvenidos</h1>
        </div>
    {% endif %}
{% endblock %}