{% extends 'sso/base.html' %}


{% block container %}
    {% load socialaccount %}
    {% if not user.is_authenticated %}
        <div class="container-fluid d-flex justify-content-center " style="height: 400px;">
            <div class="card align-self-center text-center" style="width: 18rem; height: 200px;">
                <div class="card-body">
                    <h2 class="card-title pb-3">Gestión de Proyectos</h2>
                    <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login With Google</a>
                </div>
            </div>
        </div>

    {% else %}
        <div class="container d-flex justify-content-center " style="height: 400px;">
            {% if perms.sso.pg_is_user %}
                <h1>Bienvenidos de vuelta {{user.first_name}}</h1>
            {% else %}
                <div class="row d-flex"></div>
                <div class="col"><h1>Bienvenidos {{user.first_name}}</h1></div>
                
                <div class="col">
                    <h5>Iniciaste sesión en el sistema de gestión de proyectos</h5>
                    <h5>de la materia IS2</h5>
                    <h5>Todavía no tienes ningún permiso</h5>
                    <a href="" class="btn btn-primary">Solicitar permisos</a>
                </div>
                
            {% endif %}
        </div>
    {% endif %}
{% endblock %}