{% extends 'sso/base.html' %}


{% block container %}
    {% load socialaccount %}
    {% if not user.is_authenticated %}
        <div class="container-fluid d-flex justify-content-center " style="height: 400px;">
            <div class="card align-self-center text-center" style="width: 18rem; height: 200px;">
                <div class="card-body">
                    <h2 class="card-title pb-3">Gestión de Proyectos</h2>
                    <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login With Google</a>
                </div>
            </div>
        </div>

    {% else %}
        <div class="container" style="height: 400px;">
            {% if perms.sso.pg_is_user %}
                <div class="row">
                    <h1>Bienvenido de vuelta {{user.first_name}}</h1>
                </div>
                <div class="row pt-5">
                    <h4>Tus proyectos</h4>
                    <ul class="list-group list-group-flush">
                        {% for proyecto in mis_proyectos %}
                        <li class="list-group-item ">
                            <a href="{% url 'proyecto:detail' proyecto.id %}"> {{ proyecto.nombreProyecto }} </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                
            {% else %}
                <div class="row">
                    <h1>Bienvenido {{user.first_name}}</h1>
                </div>
                
                <div class="row d-flex justify-content-center pt-5">
                    <h5>Iniciaste sesión en el sistema de gestión de proyectos de la materia IS2</h5>
                    <h5>Todavía no tienes ningún permiso</h5>
                    <button hx-post="{% url 'sso:solicitar-accesso' user.pk %}" x-data class="btn btn-primary"><i class="fas fa-envelope me-2"></i>Enviar solicitud de acceso al Administrador</button>
                </div>
                
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
{% block extra_js %}
<script>
    document.body.addEventListener(
      'htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>
{% endblock %}