{% extends 'sso/base.html' %}

{% load crispy_forms_tags %}

{% block container %}
<div class="container-fluid d-flex justify-content-center" style="height: 400px;">
    <div class="card align-self-center justify-content-center" style="width: 25rem; height: 200px;">
        <div class="card-body">
            <h1 class="card-title">Eliminar Usuario</h1>
            <form method="post">
                {% csrf_token %}
                Está seguro que quiere eliminar el usuario {{ user.first_name }} {{user.last_name}}
                <div>
                    <a class="btn btn-warning" role="button" href="{% url 'sso:roles-sistema-listado' %}">
                        Cancelar
                    </a>
                    <button type="submit" class="my-2 btn btn-danger">Eliminar Usuario</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}