{% extends 'proyecto/proyecto-detalle.html' %}

{% block proyect_content %}
{% load widget_tweaks %}

<div class="container-fluid">
    <div class="row">
        <h5 style="text-align:start;">
            Agregar Participantes
        </h5>
        <div class="col-md-10 col-xs-10 col-sm-10 pb-5">
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                        {{field}}
                </div>
                {%endfor%}
                {% if form.fields.equipo|length  == 0 %}
                    <div>No hay usuarios que se puedan agregar...</div>
                    <a class="btn btn-warning" role="button" href="{% url 'proyecto:roles' object.id %}">
                        Atrás
                    </a>
                {% else %}
                    <a class="btn btn-warning" role="button" href="{% url 'proyecto:roles' object.id %}">
                        Cancelar
                    </a>
                    <button type="submit" class="mx-2 my-2 btn btn-success">Agregar</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}