{% extends 'proyecto/base.html' %}

{% block container %}
<div class="container">
    <div class="row"></div>
    <br />
    <div class="row">
        <div class="col-md-2 col-xs-2 col-sm-2"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="alert alert-warning">
                        ¿Desea eliminar este proyecto? (Esta acción no puede deshacerse) <br/>
                        <h4>{{ object.nombreProyecto }} </h4>
                    </div>
                </div>
                <div>
                    <a class="btn btn-warning" role="button" href="{% url 'proyecto:index' %}">
                        Cancelar
                    </a>
                    <button type="submit" class="my-2 btn btn-danger">Eliminar Proyecto</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}