{% extends 'proyecto/proyecto-detalle.html' %}

{% block proyect_content %}
<div class="container">
    <div class="row"></div>
    <br />
    <div class="row">
        <div class="col-md-2 col-xs-2 col-sm-2"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="alert alert-warning">
                        ¿Desea sacar este desarrollador del equipo de desarrolladores?<br/>
                        <h4>{{ object.usuario.first_name }} {{object.usuario.last_name}} </h4>
                        <h5>con carga horaria: {{object.horas_diarias}} hs.</h5>
                    </div>
                </div>
                <div>
                    <a class="btn btn-warning" role="button" href="{% url 'proyecto:roles' proyect_id %}">
                        Cancelar
                    </a>
                    <button type="submit" class="my-2 btn btn-danger">Eliminar Desarrollador</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}