{% extends 'proyecto/proyecto-detalle.html' %}
{% block proyecto_content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {% if form.roles.field.choices %}
            {{form.as_p}}
        {% else %} 
            <h5>No hay roles para importar</h5>   
        {% endif %}
    </table>
    {% if form.roles.field.choices %}
        <a class="btn btn-warning" role="button" href="{% url 'proyecto:roles' proyecto_id %}">
            Cancelar
        </a>
        <button type="submit" class="my-2 btn btn-success">Importar</button>
    {% else %}
        <a class="btn btn-warning" role="button" href="{% url 'proyecto:roles' proyecto_id %}">
            <i class="fas fa-chevron-left me-2"></i>Atrás
        </a>
    {% endif %}
    
</form>
{% endblock %}