{% extends 'sso/base.html'%}
{% block container %}
<form action="" method="post">
    {% csrf_token %}
    <div class="main">
        <h1>Roles</h1>
            {% if rolproyecto_list %}
            <ul>
                {% for rol in rolproyecto_list %}
                <li class="py-2">
                    {{rol.nombre}}
                    <a href="{% url 'proyecto:rol-detalles' rol.id %}"  class="btn btn-info" type="button">Detalle</a> 
                </li>
                {% endfor %}
             </ul>
            {% else %}
                <p>No existen roles en el proyecto.</p>
            {% endif %} 
    </div>    
{% endblock %}