{% extends 'proyecto/base.html' %}

{% block container %}

    <div class="container-fluid">

        {% include "includes/proyect_toolbar.html" with proyect=proyecto %}
        {{proyect|json_script:"proyecto"}}

        {% block proyect_content %}
            {% if proyecto.estado_de_proyecto == "I" %}
                <button hx-post="{% url 'proyecto:iniciar-proyecto' proyecto.id %}" @click="reload()" class="btn btn-success" id="iniciar">Iniciar Proyecto</button>
            {% endif %}
            {% if proyecto.estado_de_proyecto == "A" %}
                <button hx-post="{% url 'proyecto:cancelar-proyecto' proyecto.id %}" x-data @click="reload()" class="btn btn-danger" id="iniciar">Cancelar Proyecto</button>
                <button hx-post="{% url 'proyecto:finalizar-proyecto' proyecto.id %}" x-data @click="reload()" class="btn btn-outline-success" id="iniciar">Finalizar Proyecto</button>
            {% endif %}
        {% endblock %}
    </div>

{% endblock %}
{% block extra_js %}
<script>
    function reload(){
        setTimeout(()=>{console.log('Actualizado')},1000)
        location.reload();
    }

    const proyect = JSON.parse(document.getElementById('proyecto').textContent);
    const proyectParsed = JSON.parse(proyect)
    console.log(proyectParsed)
</script>
<script>
    document.body.addEventListener(
      'htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>
{% endblock %}