{% extends 'proyecto/sprint_detail.html' %}

{% block sprint_body %}

<div id="container" style="width: 75%;">
    <canvas id="burndown-chart"></canvas>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function sumArrayUpTo(arrData, index) {
      var total = 0;
      for (var i = 0; i <= index; i++) {
        if (arrData.length > i) {
          total += arrData[i];
            }
      }
      return total;
    }

    function showBurnDown(elementId, burndownData, scopeChange = []) {

      var speedCanvas = document.getElementById(elementId);

      Chart.defaults.global.defaultFontFamily = "Arial";
      Chart.defaults.global.defaultFontSize = 14;

      const totalHoursInSprint = burndownData[0];
      const idealHoursPerDay = totalHoursInSprint / (burndownData.length -1)
      i = 0;
      let days = JSON.parse('{{dias|safe}}')

      let labels = []
      let data = []

      for (let index = 0; index < days; index++) {
        labels[index] = `Día ${index +1}`
        data[index] = Math.round(totalHoursInSprint - (idealHoursPerDay * index) + sumArrayUpTo(scopeChange, index))
      }

      var speedData = {
        labels: labels,
        datasets: [
          {
            label: "Burndown",
            data: burndownData,
            fill: false,
            borderColor: "#EE6868",
            backgroundColor: "#EE6868",
            lineTension: 0,
          },
          {
            label: "Ideal",
            borderColor: "#6C8893",
            backgroundColor: "#6C8893",
            lineTension: 0,
            borderDash: [5, 5],
            fill: false,
            data: data
          },
        ]
      };

      var chartOptions = {
        legend: {
          display: true,
          position: 'top',
          labels: {
            boxWidth: 80,
            fontColor: 'black'
          }
        },
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    max: Math.round(burndownData[0] * 1.1)
                }
            }]
        }
      };

      var lineChart = new Chart(speedCanvas, {
        type: 'line',
        data: speedData,
        options: chartOptions
      });

    }
</script>
<script>
    let sprint = JSON.parse('{{sprint_json|safe}}')
    console.log(sprint)
    for (let index = 0; index < sprint.length; index++) {
      sprint[index] = Number(sprint[index])
      
    }
    showBurnDown (
    "burndown-chart",
    //   1    2    3    4    5    6    7    8    9   10
    sprint, // burndown data
    []  // scope change
    );
</script>
{% endblock %}