{% extends 'proyecto/proyecto-detalle.html' %}

{% block proyecto_content %}
<!-- <div class="container"> -->
    <div class="card class mt-2 mx-0">
        <div class="card ">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                <a class="navbar-brand text-black" href="{% url 'proyecto:sprint-detail' proyecto_id sprint.id %}">{{sprint.identificador}}
                    {% if sprint.estado_de_sprint == 'I' %}
                        <span class="badge bg-warning text-dark">{{sprint.get_estado_de_sprint_display}}</span>
                    {% elif sprint.estado_de_sprint == 'F'%}
                        <span class="badge bg-success text-right">{{sprint.get_estado_de_sprint_display}}</span>
                    {% elif sprint.estado_de_sprint == 'A'%}
                        <span class="badge bg-primary text-right">{{sprint.get_estado_de_sprint_display}}</span>
                    {% elif sprint.estado_de_sprint == 'C'%}
                        <span class="badge bg-danger text-right">{{sprint.get_estado_de_sprint_display}}</span>
                    {% endif %}
                </a>
                
                <li class="nav-item">
                    <a href="{% url 'proyecto:sprint-team-edit' proyecto_id sprint.id%}" class="nav-link"><i class="fas fa-users me-2"></i>Team</a>
                </li>

                {% if sprint.estado_de_sprint != 'A' %}
                <li class="nav-item">
                    <a href="{% url 'proyecto:sprint-edit' proyecto_id sprint.id%}?next={{request.path}}" class="nav-link"><i class="fas fa-pen me-2"></i>Modificar</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'proyecto:sprint-kanban' proyecto_id sprint_id %}"><i class="fas fa-map-marked me-2"></i>Kanban</a>
                </li>
                {% if ready_inicio == True and sprint.estado_de_sprint == 'I' %}
                <a class="btn btn-outline-success" role="button" href="{% url 'proyecto:sprint-iniciar' proyecto_id sprint_id %}">
                    Iniciar Sprint
                </a>
                {% elif sprint.estado_de_sprint != 'I'%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'proyecto:sprint-burndownchart' proyecto_id sprint_id %}"><i class="fas fa-chart-line me-2"></i>Burndown-chart</a>
                    </li>
                    {% if sprint.estado_de_sprint == 'A'%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'proyecto:sprint-finalizar' proyecto_id sprint_id %}"><i class="fas fa-flag-checkered me-2"></i>Finalizar</a>
                    </li>
                    {% endif %}
                
                {% endif %}
              </ul>
            </div>
            {% block sprint_body %}
                <div class="card-body">
                    {% if sprint.carga_horaria != 0 and sprint.carga_horaria != None %}
                        <h6 class="card-title"><strong>Carga horaria del sprint: </strong>{{sprint.carga_horaria}} hs</h6>
                    {% endif %}
                    {% if sprint.horas_disponibles == 0 and user == owner %}
                        <h6 class="card-title"><strong>Parece que no configuró el equipo del sprint >> </strong><a href="{% url 'proyecto:sprint-team-edit' proyecto_id sprint.id%}" class=""><i class="fas fa-users me-2"></i>Team</a></h6>
                    {% elif sprint.horas_disponibles != 0 and user == owner %}
                        <h6 class="card-title"><strong>Horas restantes: </strong>{{hours_remaining}} hs.</h6>
                    {% endif %}
                    {% if hours_remaining <= 0 and sprint.horas_disponibles != 0 and user == owner and sprint.estado_de_sprint == 'I'%}
                        <h6 class="card-title" style="color:red"><strong>¡Se está superando la capacidad horaria del sprint! La carga horaria es mayor que las horas disponibles.</strong></h6>
                    {% endif %}
                    {% if sprint.estado_de_sprint == 'I' %}
                    <div class="row class py-5">
                        {% if user == owner %}
                        <div class="col-6 border-end">
                            <h6>Product Backlog</h6>
                            {% for us in user_storys %}
                                <div class="card w-51 mb-2" >
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                {{us.nombre}}
                                                {% if us.prioridad_user_story == 'A' %}
                                                    <span class="badge  bg-warning text-dark">{{us.get_prioridad_user_story_display}}</span>
                                                {% elif us.prioridad_user_story == 'B'%}
                                                    <span class="badge  bg-success text-right">{{us.get_prioridad_user_story_display}}</span>
                                                {% elif us.prioridad_user_story == 'M'%}
                                                    <span class="badge  bg-primary text-right">{{us.get_prioridad_user_story_display}}</span>
                                                {% elif us.prioridad_user_story == 'E'%}
                                                    <span class="badge  bg-danger text-right">{{us.get_prioridad_user_story_display}}</span>
                                                {% endif %}
                                            </div>
                                            <div class="col d-flex justify-content-end align-content-center">
                                                <a href="{% url 'proyecto:user-story-detail' proyecto_id sprint.id us.pk%}" class="btn btn-outline-primary btn-sm stretched-link">Abrir</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                    <h5 class="card-title">{{us.nombre}}</h5>
                                    <p class="card-text">{{us.descripcion | truncatechars_html:80}}</p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        {% if us.creador %}
                                            {{us.creador}}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% else %}
                            <p><strong>Sprint en planificación </strong><i class="fas fa-hourglass-start me-3"></i></p>
                        {% endif %}
                        <div class="col-6">
                            <h6>Sprint Backlog</h6>
                            {% for us in sprint_backlog %}
                                <div class="card w-51 mb-2" >
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                {{us.nombre}}
                                                {% if us.prioridad_user_story == 'A' %}
                                                    <span class="badge bg-warning text-dark">{{us.get_prioridad_user_story_display}}</span>
                                                {% elif us.prioridad_user_story == 'B'%}
                                                    <span class="badge bg-success text-right">{{us.get_prioridad_user_story_display}}</span>
                                                {% elif us.prioridad_user_story == 'M'%}
                                                    <span class="badge bg-primary text-right">{{us.get_prioridad_user_story_display}}</span>
                                                {% elif us.prioridad_user_story == 'E'%}
                                                    <span class="badge bg-danger text-right">{{us.get_prioridad_user_story_display}}</span>
                                                {% endif %}
                                            </div>
                                            <div class="col d-flex justify-content-end align-content-center">
                                                <a style="color: red;" href="{% url 'proyecto:user-story-quitar' proyecto_id sprint.id us.id%}" role="button"
                                                    ><i class="fas fa-times me-4 fa-lg"></i></a>

                                                <a href="{% url 'proyecto:user-story-detail' proyecto_id sprint.id us.id%}" class="btn btn-outline-primary btn-sm">Abrir</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{us.nombre}}</h5>
                                        <p class="card-text">{{us.descripcion | truncatechars_html:80}}</p>
                                        <p class="card-text"><strong>Dev asignado: </strong>{{us.encargado}}</p>
                                        <p class="card-text"><strong>Duración estimada: </strong>{{us.tiempo_promedio_calculado}} hs.</p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        {% if us.creador %}
                                            {{us.creador}}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <h6 class="card-title"><strong>Fecha de finalización: </strong>{{sprint.fechaFin}}</h6>

                    <div class="row class py-5">
                            <h6>Sprint Backlog</h6>
                            {% for us in sprint_backlog %}
                                <div class="card w-25 px-0 mb-2 mx-2" >
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                {{us.nombre}}
                                                {% if us.prioridad_user_story == 'A' %}
                                                    <span class="badge bg-warning text-dark">{{us.get_prioridad_user_story_display}}</span>
                                                {% elif us.prioridad_user_story == 'B'%}
                                                    <span class="badge bg-success text-right">{{us.get_prioridad_user_story_display}}</span>
                                                {% elif us.prioridad_user_story == 'M'%}
                                                    <span class="badge bg-primary text-right">{{us.get_prioridad_user_story_display}}</span>
                                                {% elif us.prioridad_user_story == 'E'%}
                                                    <span class="badge bg-danger text-right">{{us.get_prioridad_user_story_display}}</span>
                                                {% endif %}
                                            </div>
                                            <div class="col d-flex justify-content-end align-content-center">
                                                <a href="{% url 'proyecto:user-story-detail' proyecto_id sprint.id us.id%}" class="btn btn-outline-primary btn-sm stretched-link">Abrir</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{us.nombre}}</h5>
                                        <p class="card-text">{{us.descripcion | truncatechars_html:80}}</p>
                                        <p class="card-text"><strong>Dev asignado: </strong>{{us.encargado}}</p>
                                        <p class="card-text"><strong>Duración estimada: </strong>{{us.tiempo_promedio_calculado}} hs.</p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        {% if us.creador %}
                                            {{us.creador}}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
<!-- </div> -->

{% endblock %}