{% extends 'proyecto/sprint_detail.html' %}

{% block sprint_body %}
<div class="row class py-3">
    <div class="col-3 class mx-3 border-end">
        <h3>To-DO</h3>
        {% for us in us_todo %}
            <div class="card w-51 mb-2" >
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            {{us.nombre}}
                            {% if us.prioridad_user_story == 'A' %}
                                <span class="badge  bg-warning text-dark">{{us.get_prioridad_user_story_display}}</span>
                            {% elif us.prioridad_user_story == 'B'%}
                                <span class="badge  bg-success text-right">{{us.get_prioridad_user_story_display}}</span>
                            {% elif us.prioridad_user_story == 'M'%}
                                <span class="badge  bg-primary text-right">{{us.get_prioridad_user_story_display}}</span>
                            {% elif us.prioridad_user_story == 'E'%}
                                <span class="badge  bg-danger text-right">{{us.get_prioridad_user_story_display}}</span>
                            {% endif %}
                        </div>
                        <div class="col-12 d-flex flex-column class mt-1">
                            <a href="{% url 'proyecto:user-story-detail' proyecto_id sprint.id us.id%}" class="btn btn-outline-primary btn-sm">Abrir</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{us.nombre}}</h5>
                    <p class="card-text">{{us.descripcion | truncatechars_html:80}}</p>
                    <p class="card-text"><strong>Dev asignado: </strong>{{us.encargado}}</p>
                    <p class="card-text"><strong>Duración estimada: </strong>{{us.tiempo_promedio_calculado}} hs.</p>
                </div>
                <div class="card-footer text-muted">
                    {% if us.creador %}
                        Creador: {{us.creador}}
                    {% endif %}
                    <a href="{% url 'proyecto:doing-user-story' proyecto_id sprint.id us.id%}" class="btn btn-primary btn-sm">Iniciar</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-3 border-end class mx-2">
        <h3>DOING</h3>
        {% for us in us_doing %}
            <div class="card w-51 mb-2" >
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            {{us.nombre}}
                            {% if us.prioridad_user_story == 'A' %}
                                <span class="badge bg-warning text-dark">{{us.get_prioridad_user_story_display}}</span>
                            {% elif us.prioridad_user_story == 'B'%}
                                <span class="badge bg-success text-right">{{us.get_prioridad_user_story_display}}</span>
                            {% elif us.prioridad_user_story == 'M'%}
                                <span class="badge bg-primary text-right">{{us.get_prioridad_user_story_display}}</span>
                            {% elif us.prioridad_user_story == 'E'%}
                                <span class="badge bg-danger text-right">{{us.get_prioridad_user_story_display}}</span>
                            {% endif %}
                        </div>
                        <div class="col-12 d-flex flex-column class mt-1">
                            <a href="{% url 'proyecto:user-story-detail' proyecto_id sprint.id us.id%}" class="btn btn-outline-primary btn-sm">Abrir</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{us.nombre}}</h5>
                    <p class="card-text">{{us.descripcion | truncatechars_html:80}}</p>
                    <p class="card-text"><strong>Dev asignado: </strong>{{us.encargado}}</p>
                    <p class="card-text"><strong>Duración estimada: </strong>{{us.tiempo_promedio_calculado}} hs.</p>
                </div>
                <div class="card-footer text-muted">
                    {% if us.creador %}
                        Creador: {{us.creador}}
                    {% endif %}
                    <a href="{% url 'proyecto:todo-user-story' proyecto_id sprint.id us.id%}" class="btn btn-primary btn-sm">TO-DO</a>
                    <a href="{% url 'proyecto:done-user-story' proyecto_id sprint.id us.id%}" class="btn btn-primary btn-sm">Enviar a revisión</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-3">
        <h3>DONE</h3>
        {% for us in us_done %}
            <div class="card w-51 mb-2" >
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            {{us.nombre}}
                            {% if us.prioridad_user_story == 'A' %}
                                <span class="badge bg-warning text-dark">{{us.get_prioridad_user_story_display}}</span>
                            {% elif us.prioridad_user_story == 'B'%}
                                <span class="badge bg-success text-right">{{us.get_prioridad_user_story_display}}</span>
                            {% elif us.prioridad_user_story == 'M'%}
                                <span class="badge bg-primary text-right">{{us.get_prioridad_user_story_display}}</span>
                            {% elif us.prioridad_user_story == 'E'%}
                                <span class="badge bg-danger text-right">{{us.get_prioridad_user_story_display}}</span>
                            {% endif %}
                        </div>
                        <div class="col-12 d-flex flex-column class mt-1">
                            <a href="{% url 'proyecto:user-story-detail' proyecto_id sprint.id us.id%}" class="btn btn-outline-primary btn-sm">Abrir</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{us.nombre}}</h5>
                    <p class="card-text">{{us.descripcion | truncatechars_html:80}}</p>
                    <p class="card-text"><strong>Dev asignado: </strong>{{us.encargado}}</p>
                    <p class="card-text"><strong>Duración estimada: </strong>{{us.tiempo_promedio_calculado}} hs.</p>
                </div>
                <div class="card-footer text-muted">
                    {% if us.creador %}
                        Creador: {{us.creador}}
                    {% endif %}
                    {% if us.estado_user_story == 'QA' %}
                        Necesita <a href="{% url 'proyecto:user-story-qa' proyecto_id sprint.id us.id %}?next={{request.path}}" class="btn btn-danger btn-sm">QA</a>
                    {% elif us.estado_user_story == 'DN' %}
                        <span class="text-success">Listo para release <i class="far fa-thumbs-up"></i></span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}