{% extends 'proyecto/proyecto-detalle.html' %}

{% block proyecto_content %}
<div class="container">
    <div class="row"></div>
    <br />
    <div class="row">
        <div class="col-md-2 col-xs-2 col-sm-2"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="alert alert-success">
                        ¿Desea aprobar el User story?<br/>
                        Si aprueba el user story, no se podrá cambiarlo y será agregado al Product Backlog.<br/>
                    </div>
                </div>
                <div>
                    <a class="btn btn-warning" role="button" href="{% url 'proyecto:product-backlog' proyecto_id %}">
                        Cancelar
                    </a>
                    <button type="submit" class="my-2 btn btn-success"><i class="fas fa-check me-3"></i>Aprobar User story</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}