{% extends 'proyecto/proyecto-detalle.html' %}

{% block proyecto_content %}
{% load widget_tweaks %}
{% load socialaccount %}

<div class="card class mt-2 mx-0">
    <div class="card ">
        <div class="card-header">
            User story: {{object.nombre}}
            {% if object.prioridad_user_story == 'A' %}
                <span class="badge  bg-warning text-dark">{{object.get_prioridad_user_story_display}}</span>
            {% elif object.prioridad_user_story == 'B'%}
                <span class="badge  bg-success text-right">{{object.get_prioridad_user_story_display}}</span>
            {% elif object.prioridad_user_story == 'M'%}
                <span class="badge  bg-primary text-right">{{object.get_prioridad_user_story_display}}</span>
            {% elif object.prioridad_user_story == 'E'%}
                <span class="badge  bg-danger text-right">{{object.get_prioridad_user_story_display}}</span>
            {% endif %}
        </div>
        <div class="card-body">
            <h5 class="card-title">Descripción:</h5>

            {{object.descripcion}}</div>

        {% if sprint_activo == False %}
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="form-group class pb-2">
                    
                    {% if field.name == 'tiempo_estimado_scrum_master'%}
                        {% if user == scrum_master %}
                            Duración en horas
                            {% render_field field class="form-control" %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        {% else %}
                            <strong>Duración estimada por Scrum Master: </strong>{{object.tiempo_estimado_scrum_master}} hs. 
                        {% endif %}
                    {% endif %}
                    {% if field.name == 'encargado'%}
                        {% if user == scrum_master %}
                            Encargado
                            {% render_field field class="form-control" %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        {% else %}
                            <strong>Desarrollador asignado: </strong>{{object.encargado}} hs.
                        {% endif %}
                    {% endif %}

                    {% if is_assigned == True and user == object.encargado.usuario %}
                        {% if field.name == 'tiempo_estimado_dev'%}
                            Usted como Dev asignado, estime el tiempo en hs que toma para terminar el user story.
                            {% render_field field class="form-control" %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        {% endif %}
                    {% else %}
                    {% endif %}

                </div>
                {% endfor %}
                {% if sprint_id == None %}
                    <a class="btn btn-warning" role="button" href="{% url 'proyecto:product-backlog' proyecto_id %}">
                        Atrás
                    </a>
                {% else %}
                    <a class="btn btn-warning" role="button" href="{% url 'proyecto:sprint-detail' proyecto_id sprint_id %}">
                        Cancelar
                    </a>
                    {% if user == scrum_master or user == object.encargado.usuario %}
                        {% if object.sprint == None %}
                            <button type="submit" class="my-2 btn btn-success">Agregar al sprint</button>
                        {% else %}
                            <button type="submit" class="my-2 btn btn-success">Actualizar user story</button>
                        {% endif %}
                    {% endif %}
                {% endif %}
                
                
            </form>
        </div>
        {% else %}
            <div class="card-body">
                <p><strong>Desarrollador asignado: </strong>{{object.encargado}} hs. </p>
                <p><strong>Duración estimada: </strong>{{object.tiempo_promedio_calculado}} hs. </p>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}