{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
        <script src="https://unpkg.com/htmx.org@1.5.0"></script>
        <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
        <link href="{% static 'css/bsidebars.css' %}" rel="stylesheet"/>
        {% block title %}{% endblock %}
    </head>
    <body>
        {% include "includes/permission_denied.html" %}

        {% block content %}{% endblock %}
        {% block extra_js %}{% endblock %}
    </body>
</html>
